/*containers*/
.deck {
}

.services-cards{
  display:flex;
  flex-wrap:wrap;
  padding-top:100px;
  
}

body { padding-top: 70px; }


/* Classes */

.pic1 {
  width:100%;
  margin-left:-5px;
  display:inline;
  
}

.quote1 {
  margin-top:10px;
  padding: 10px;
  margin-bottom:120px;
}

.pic1 {
  border-radius: 05%;
}

.pic1, .quote {
  padding: 30px;
  display:block;
}






/*adjustments */

.clearfix::after {
		content: "";
		display: table;
		clear: both;
}
.faded {
  width:100%;
  
}


/* media queries */

@media all and (min-width:769px) {

.pic1 {
    width:40%;
    float:left;
  }
  .quote {
    width:60%;
    float:right;
    padding-bottom:50px;
  }
  
  .deck {
  float:left;  
}

}


@media all and (min-width:600px) {

}

.callnow {
  width:100;
  
}

}

@media all and (min-width:1000px) {

    .card {
      width:33%;
  }
}